/** Make Admonitions Closer on Mobile */
body.is-mobile .admonition {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.callout[data-callout-metadata="x"] .callout-title {
    display: none;
}
.admonition-calendar .admonition-title-content {
    display: flex;
}
.admonition-calendar .admonition-title-content > .internal-link:first-child {
    margin-right: auto;
}

body.is-mobile .admonition-content,
body.is-mobile
    .admonition
    > .admonition-title.no-title
    + .admonition-content-holder {
    margin-top: 0px;
    margin-bottom: 0px;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: 900px;
    margin: 0 auto;
}

/** 
  * Consistent Blockquote & Admonition Padding
  */
.markdown-preview-view blockquote {
    margin-inline-start: 18px;
}

.admonition,
blockquote {
    margin-inline-start: 18px !important;
    margin-inline-end: 18px !important;
}
