.HyperMD-header-6.cm-line {
  position: relative;
}

.HyperMD-header-6.cm-line::before {
  color: var(--text-muted);
  font-size: 0.7rem;
  left: -2.8em;
  letter-spacing: 0.2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.HyperMD-header.HyperMD-header-6.cm-line::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236272a4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-list'%3E%3Cline x1='8' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='8' y1='18' x2='21' y2='18'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='3.01' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='12' x2='3.01' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='3.01' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
}
