/**
  * Minimal overrides
  */
.titlebar-button {
    color: var(--text-muted);
}
.titlebar-button:hover {
    color: var(--text-normal);
}
.titlebar-button.mod-close:hover {
    color: white;
}

.view-header-title-container {
    max-width: unset;
    width: 100%;
}
.view-header-title {
    width: 100%;
    padding-right: 0;
}
.view-actions {
    width: auto;
}
.view-header-title-container,
.view-actions,
.view-header-icon {
    top: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.view-header-title-container {
    margin-left: 0;
}
.markdown-source-view.is-readable-line-width .CodeMirror,
.CodeMirror {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.markdown-source-view.mod-cm5 {
    padding-left: 0;
}
:root {
    --cursor: pointer;
    --normal-weight: 350;
    --line-width: unset;
    --max-width: 70em;
}

.titlebar {
    background-color: var(--background-primary);
}

.markdown-source-view.mod-cm6 .cm-content {
    max-width: var(--max-width);
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: var(--max-width);

    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.markdown-source-view.mod-cm5 {
    padding-left: calc(40px - 11.1875px);
    padding-right: 40px;

    margin: 0 auto;
}

.markdown-preview-view blockquote {
    background-color: var(--background-secondary-alt);
    color: var(--text-normal);
    padding: calc(var(--nested-padding) / 2);
}

.popover .markdown-embed .markdown-preview-view {
    padding: 20px 15px 10px 15px;
}

body.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list {
    letter-spacing: 3px;
}

/** Fix for colored folders. */

.nav-folder-title {
    margin: 0;
    min-width: unset;
    width: auto;
}

.nav-folder-children {
    padding-left: 12px;
}

.nav-folder:not(.mod-root) > .nav-folder-children .nav-file-title {
    padding-left: 10px;
}

body:not(.is-mobile) .status-bar {
    background: transparent;
    top: calc(-1 * var(--titlebar-height) + 1px);
    height: var(--titlebar-height);
    right: 120px;
    bottom: unset;
}

.markdown-preview-view .internal-query.is-embed .internal-query-header-title {
    font-size: var(--h5);
}

.contextual-typography
    .markdown-preview-view.markdown-preview-view
    .markdown-preview-sizer
    > div {
    width: auto;
    margin-left: 0;
    margin-right: 0;
}
