:root {
    --default-font: "iA Writer Quattro" !important;
    --bgZZ: green;
}

.theme-light {
    --background-primary: #f9f7f4 !important; /* hsl(var(--base-h), var(--base-s), 99%); */
}

.titlebar {
    background-color: var(--background-primary);
}

/** Fantasy Calendar */
.fantasy-month .fantasy-day.active {
    background-color: var(--background-secondary-alt);
}
.fantasy-calendar .flag-container .flag.multi:not(.end) {
    margin-right: -2px;
}
.fantasy-calendar .flag-container .flag.multi:not(.start) {
    margin-left: -2px;
}
.fantasy-calendar-event-date .fantasy-calendar-date-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/** Activity History Plugin */
.block-language-ActivityHistory #SelectYear {
    display: none;
}

/** Generic */
.body.is-mobile .setting-item-description {
    word-break: break-word;
}
