/** Fix for colored folders. */

.nav-folder-title {
    margin: 0;
    min-width: unset;
    width: auto;
}

.nav-folder-children {
    padding-left: 12px;
}

.nav-folder:not(.mod-root) > .nav-folder-children .nav-file-title {
    padding-left: 10px;
}

body:not(.is-mobile) .status-bar {
    background: transparent;
    top: calc(-1 * var(--titlebar-height) + 1px);
    height: var(--titlebar-height);
    right: 120px;
    bottom: unset;
}

.markdown-preview-view .internal-query.is-embed .internal-query-header-title {
    font-size: var(--h5);
}
