/* Coloured Folders
a CSS snippet by Lithou
modified by Jeremy Valentine

This will allow the colouring of the top level folders into sections that "drop down" when opened. 
This is currently set to be the same colour regardless of theme, but you can change that by copy/pasting the colors from the root section into light/dark theme then changing them according to preference.
The colours are rainbow coloured and 16 in number by default. They are shades such that white/lightgrey text shows up the best. Some have a bit let contrast (the lighter blue and the yellow) but should still be visible. Again, change them however you would like. 
*/
.theme-light,
.theme-dark {
    /* folder colours */
    --Fold0: #d32f2f;
    --Fold1: #c2185c;
    --Fold2: #8c2ab6;
    --Fold3: #6c48c0;
    --Fold4: #3447c0;
    --Fold5: #1976d2;
    --Fold6: #0288d1;
    --Fold7: #0097a7;
    --Fold8: #00796b;
    --Fold9: #388e3c;
    --FoldA: #689f38;
    --FoldB: #afb42b;
    --FoldC: #f9ab25;
    --FoldD: #ff8f00;
    --FoldE: #ef6c00;
    --FoldF: #d84315;
    /* line styles for nesting indicators */

    --FolderRadius: 5px;
    --FoldText: var(--background-primary);
}

.theme-dark {
    --root-file-color: white;
}
.theme-light {
    --root-file-color: var(--text-normal);
}
.nav-file-title,
.nav-folder-title {
    color: unset;
}

/** Minimal Theme overrides */
.nav-file {
    margin-left: 0;
    padding: 0;
}

.nav-folder-children {
    padding-left: 18px;
}

.nav-folder:not(.mod-root) > .nav-folder-children .nav-file-title {
    padding-left: 12px;
}

.nav-file-title {
    margin: 0;
}

/** Remove Top Level Folder Name */
.nav-folder.mod-root > .nav-folder-title {
    display: none;
}

/** Set up explorer container margins */
.nav-files-container {
    margin: 0px 5px;
}

/** Set the background color of folder and file icons */
.nav-file-title::before {
    background-color: var(--FoldText) !important;
}
.nav-folder .nav-folder-title .nav-folder-title-content::before {
    background-color: var(--FoldText) !important;
}

/** Reset background and color when necessary */
.nav-folder.mod-root > .nav-folder-title > .nav-folder-title-content::before,
.nav-folder.mod-root > .nav-folder-children > .nav-file .nav-file-title::before,
.nav-file-title-content.is-being-renamed::before,
.nav-folder
    .nav-folder-title
    .nav-folder-title-content.is-being-renamed::before {
    background-color: var(--root-file-color) !important;
}
.nav-file-title.is-active,
.nav-folder-title.is-active,
.nav-file-title-content.is-being-renamed,
.nav-folder-title-content.is-being-renamed,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
    color: var(--root-file-color) !important;
}
.nav-file-title.is-active::before,
.nav-folder-title.is-active .nav-folder-title-content::before,
body:not(.is-grabbing) .nav-file-title:hover::before,
body:not(.is-grabbing)
    .nav-folder-title:hover
    .nav-folder-title-content::before {
    background-color: var(--root-file-color) !important;
}

/** Make generic folder and file border radiuses square. */
.nav-file-title,
.nav-folder-title {
    border-radius: 0px;
}

/** Remove collapse arrows */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title
    > .nav-folder-collapse-indicator {
    display: none;
}

/** Grid */
.nav-folder.mod-root > .nav-folder-children {
    display: grid;
    gap: 7px;
    grid-auto-rows: max-content;
}

/** Top Level Folder Title */
.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: var(--FoldText);
    padding-left: 3px;
    border-radius: var(--FolderRadius) var(--FolderRadius) 0px 0px;
}

/** Rounded borders */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder.is-collapsed
    > .nav-folder-title {
    border-radius: var(--FolderRadius);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children {
    border-radius: 0px 0px var(--FolderRadius) var(--FolderRadius);
}

/** Give the top level folder name a bottom border */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder:not(.is-collapsed)
    > .nav-folder-title {
    border-bottom: var(--FoldText) 1px solid;
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children {
    padding-left: 0px;
    color: var(--FoldText);
}

/** 16 Top level Folders By Starting Digit
The Folder Name is stored in the `data-path` attribute.
[data-path^="..."] targets a path that *begins with* the content.
*/
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="1"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="1"]
    + .nav-folder-children {
    background-color: var(--Fold0);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="2"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="2"]
    + .nav-folder-children {
    background-color: var(--Fold1);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="3"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="3"]
    + .nav-folder-children {
    background-color: var(--Fold2);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="4"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="4"]
    + .nav-folder-children {
    background-color: var(--Fold3);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="5"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="5"]
    + .nav-folder-children {
    background-color: var(--Fold4);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="6"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="6"]
    + .nav-folder-children {
    background-color: var(--Fold5);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="7"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="7"]
    + .nav-folder-children {
    background-color: var(--Fold6);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="8"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="8"]
    + .nav-folder-children {
    background-color: var(--Fold7);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="9"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="9"]
    + .nav-folder-children {
    background-color: var(--Fold8);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="10"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="10"]
    + .nav-folder-children {
    background-color: var(--Fold9);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="11"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="11"]
    + .nav-folder-children {
    background-color: var(--FoldA);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path="12"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path="12"]
    + .nav-folder-children {
    background-color: var(--FoldB);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="13"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="13"]
    + .nav-folder-children {
    background-color: var(--FoldC);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path="14"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path="14"]
    + .nav-folder-children {
    background-color: var(--FoldD);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="15"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="15"]
    + .nav-folder-children {
    background-color: var(--FoldE);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="16"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="16"]
    + .nav-folder-children {
    background-color: var(--FoldF);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="17"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="17"]
    + .nav-folder-children {
    background-color: var(--FoldF);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path~="Archive"] {
    background-color: var(--background-secondary-alt);
    color: lightgrey;
    --FoldText: lightgrey;
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Archive"]
    + .nav-folder-children {
    background-color: var(--background-secondary-alt);
    color: var(--text-normal);
    --FoldText: var(--text-normal);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path~="Plugin"] {
    background-color: var(--background-secondary-alt);
    color: lightgrey;
    --FoldText: lightgrey;
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Plugin"]
    + .nav-folder-children {
    background-color: var(--background-secondary-alt);
    color: var(--text-normal);
    --FoldText: var(--text-normal);
}

/* Scrollbars eliminated */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Relationship lines for 2nd, 3rd, and 4th level folders */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    .nav-folder
    .nav-file {
    border-left: 2px solid white;
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    .nav-folder
    .nav-folder {
    border-left: 2px solid white;
}
/* == File Explorer - animation for active file as per Obuntu === */

.nav-folder-title {
    font-weight: bold;
}

.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-file-title:hover {
    background-color: var(--background-primary);
    border-radius: 6px;
    font-weight: bold;
    border-left: 2px solid var(--text-accent);
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: background-color, color;
}

.nav-file.is-active > .nav-file-title {
    padding-left: 5px;
}

.nav-file-title.is-active,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover,
body:not(.is-grabbing)
    .nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title:hover {
    background-color: var(--background-primary);
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: background-color, color;
}

/* .nav-file-title.is-active::before {
    margin-top: 2px;
    width: 22px;
    height: 20px;
} */

.nav-file-tag {
    background-color: var(--background-secondary-alt);
    top: -1px;
}
