:root {
    --default-font: "iA Writer Quattro" !important;
    --bgZZ: green;
}
details.admonition:not([open]) .admonition-title-markdown {
    opacity: 0;
}
details.admonition .admonition-title-markdown {
    transition: opacity 0.15s;
}
/** Remove scrollbars */
body:not(.native-scrollbars) ::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.theme-light {
    --background-primary: #f9f7f4 !important; /* hsl(var(--base-h), var(--base-s), 99%); */
}

.titlebar {
    background-color: var(--background-primary);
}

/** Fantasy Calendar */
.fantasy-month .fantasy-day.active {
    background-color: var(--background-secondary-alt);
}
.fantasy-calendar .flag-container .flag.multi:not(.end) {
    margin-right: -2px;
}
.fantasy-calendar .flag-container .flag.multi:not(.start) {
    margin-left: -2px;
}
.fantasy-calendar-event-date .fantasy-calendar-date-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/** Activity History Plugin */
.block-language-ActivityHistory #SelectYear {
    display: none;
}

/** Generic */
.body.is-mobile .setting-item-description {
    word-break: break-word;
}

.dropdown {
    min-width: 100px;
    padding: 0.6em 1.9em 0.5em 0.8em;
}
