/* Auto fading UI */
body:not(.is-mobile) .view-header:not(:hover) .view-header-icon,
body:not(.is-mobile) .view-header:not(:hover) .view-actions,
body:not(.is-mobile) .status-bar:not(:hover) .status-bar-item,
body:not(.is-mobile) .frontmatter-container.is-collapsed:not(:hover),
body:not(.is-mobile)
    .side-dock-ribbon.mod-left.is-collapsed:not(:hover)
    > *:not(.workspace-ribbon-collapse-btn),
.workspace-split.mod-left-split:not(:hover) > .workspace-leaf-resize-handle {
    opacity: 0 !important;
    transition-delay: 5s !important;
    transition-duration: 2.5s !important;
    transition-timing-function: ease-in-out !important;
    transition-property: opacity !important;
}
.workspace-split.mod-root {
    background-color: var(--background-primary);
}
.workspace-ribbon.side-dock-ribbon,
.status-bar,
.workspace-tabs.workspace-tabs,
.workspace-split:not(.mod-right-split) .workspace-tabs,
.workspace-leaf {
    background-color: transparent;
}

body:not(.is-mobile)
    .workspace-split.mod-right-split:not(:hover)
    .workspace-leaf-resize-handle,
body:not(.is-mobile)
    .workspace-split.mod-left-split:not(:hover)
    .workspace-leaf-resize-handle {
    transition-delay: 1s !important;
    transition-duration: 1s !important;
    opacity: 0 !important;
}
body:not(.is-mobile) .status-bar:not(:hover) .status-bar-item {
    transition-delay: 0s !important;
    transition-duration: 1s !important;
}
body:not(.is-mobile) .status-bar:not(:hover) {
    border-top: 0;
    transition-delay: 0s !important;
    transition-duration: 1s !important;
    transition-timing-function: ease-in !important;
    transition-property: opacity !important;
}

.workspace-ribbon,
.workspace-tab-container-inner {
    border: 0;
}

.workspace-ribbon-collapse-btn {
    color: var(--text-muted);
}
/* .frontmatter-container.is-collapsed:hover {
    opacity: 1;
} */

.CodeMirror-foldgutter-folded:after,
.CodeMirror-foldgutter-open:after {
    opacity: 0.5;
    font-size: 60%;
}
.CodeMirror-foldgutter-folded:hover:after,
.CodeMirror-foldgutter-open:hover:after {
    opacity: 1;
}
.CodeMirror-foldgutter-folded:after {
    content: "\25BA";
}
.CodeMirror-foldgutter-open:after {
    content: "\25BC";
}

.nav-folder-collapse-indicator {
    color: unset !important;
}
