:root,
.theme-dark {
    --default-font: "iA Writer Quattro" !important;
}

/**
  * Consistent header heights
  */
.workspace-tab-header-container {
    height: 36px;
}
.workspace-tab-header-inner-icon {
    display: flex;
    align-items: center;
}

/** 
  * Ursa Overrides 
  */
.theme-dark {
    --background-primary: #2f3238;
    --background-primary-alt: #24272c;
    --background-secondary: #272a2e;
    --background-secondary-alt: #212325;
    --background-accent: #000;
    --background-modifier-border: #51545a;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --text-muted: #aaa;
    --text-accent: rgb(173, 169, 169);
    --text-accent-hover: rgb(255, 255, 255);
}
:root {
    --h1: 2.5em;
    --h2: 2em;
    --h3: 1.75em;
    --h4: 1.5;
    --h5: 1.25;
    --h6: 1.125em;
}
ul {
    list-style-type: none !important;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    content: "" !important;
}

.theme-dark {
    --text-title-h1: var(--Fold0);
    --text-title-h2: var(--Fold1);
    --text-title-h3: var(--Fold2);
    --text-title-h4: var(--Fold3);
    --text-title-h5: var(--Fold4);
    --text-title-h6: var(--Fold5);

    /* ............ Spectrum Override */
    --accent-1: var(--Fold0);
    --accent-2: #f5a14c;
    --accent-3: #ede482;
    --accent-4: #de62bf;
    --accent-5: #62deac;
    --accent-6: #62b7de;
}

blockquote {
    background-color: var(--background-secondary);
    margin-inline-start: 18px;
}

/** 
  * Image floating in block
  */
blockquote > p > img:last-child {
    margin: 1rem;
    float: right;
}
blockquote > p > img:first-child {
    float: left;
    margin-right: 1rem;
}
blockquote > p > img:first-child + br {
    display: none;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
.markdown-source-view.is-readable-line-width .CodeMirror {
    max-width: unset !important;
    width: unset;
    margin: 0 0 0 0;
    padding-top: 1rem;
}

.admonition {
    margin-inline-start: 18px !important;
    margin-inline-end: 30px !important;
    padding: 0 18px !important;
}
.admonition > .admonition-title {
    margin: -0 -18px 0 -24px !important;
}

/* 4.2.1. Nifty arrow before internal links (also applies to embeds) */
.internal-link::before,
.markdown-embed-link::before {
    content: " ";
    background-color: var(--text-normal);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpolygon points='5.4 26 24 7.4 24 20 26 20 26 4 10 4 10 6 22.6 6 4 24.6'%3E%3C/polygon%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpolygon points='5.4 26 24 7.4 24 20 26 20 26 4 10 4 10 6 22.6 6 4 24.6'%3E%3C/polygon%3E%3C/svg%3E");
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 2px;
    margin-bottom: -1px;
}

/* Coloured Folders
a CSS snippet by Lithou

This will allow the colouring of the top level folders into sections that "drop down" when opened. 
This is currently set to be the same colour regardless of theme, but you can change that by copy/pasting the colors from the root section into light/dark theme then changing them according to preference.
The colours are rainbow coloured and 16 in number by default. They are shades such that white/lightgrey text shows up the best. Some have a bit let contrast (the lighter blue and the yellow) but should still be visible. Again, change them however you would like. 
*/
:root {
    /* folder colours */
    --Fold0: #d32f2fcc;
    --Fold1: #c2185bcc;
    --Fold2: #7b1fa2cc;
    --Fold3: #512da8cc;
    --Fold4: #303f9fcc;
    --Fold5: #1976d2cc;
    --Fold6: #0288d1cc;
    --Fold7: #0097a7cc;
    --Fold8: #00796bcc;
    --Fold9: #388e3ccc;
    --FoldA: #689f38cc;
    --FoldB: #afb42bcc;
    --FoldC: #f9ab25cc;
    --FoldD: #ff8f00cc;
    --FoldE: #ef6c00cc;
    --FoldF: #d84315cc;
    --FoldText: white;
    /* line styles for nesting indicators */
    --nestlinesize1: solid;
    --nestlinestyle1: 2px;
    --nestlinecolor1: white;

    --nestlinesize2: groove;
    --nestlinestyle2: 2px;
    --nestlinecolor2: white;

    --nestlinesize3: dashed;
    --nestlinestyle3: 2px;
    --nestlinecolor3: white;

    --FolderRadius: 5px;
}

/* Set up explorer container margins */
.nav-files-container {
    margin: 0px 5px;
}
.nav-files-container * {
    color: white !important;
}

.nav-file-title,
.nav-folder-title {
    border-radius: 0px;
}

/* Remove collapse arrow from top level folders */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title
    > .nav-folder-collapse-indicator {
    display: none;
}

/* Top Level Folder Titles */
.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: var(--FoldText);
    padding-left: 3px;
    margin-top: 7px; /* space between top level sections */
    border-radius: var(--FolderRadius) var(--FolderRadius) 0px 0px;
}
/* Rounded borders */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder.is-collapsed
    > .nav-folder-title {
    border-radius: var(--FolderRadius);
}

/* General Nav Folder Children (this is the part that expands from each top level folder) */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children {
    padding-left: 0px;
    border-top: var(--FoldText) 1px solid;
    border-radius: 0px 0px var(--FolderRadius) var(--FolderRadius);
    /* padding-bottom: 12px; */
}

.nav-file-title {
    padding-left: 5px;
}

/* active file increase font size and removes normal highlight marker */
.nav-file-title.is-active {
    background-color: #00000000;
    font-size: 105%;
}
/* Adds hemisphere marker to active file instead */
.nav-file-title.is-active::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 16px solid var(--FoldText);
    border-bottom: 8px solid transparent;
    position: absolute;
    left: -6px;
    margin-top: 4px;
    /*     content: "";
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-left: 16px solid ;
    border-bottom: 8px solid transparent;
    background-color: var(--FoldText);
    */
}

/* 16 Top level Folders By Starting Digit (0-F)
These are set for me by leading number/letter which also ensures they are in the correct order when sorted alphabetically
You can change these to match your use case.
*/
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Compendium"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Compendium"]
    + .nav-folder-children {
    background-color: var(--Fold0);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Misc"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Misc"]
    + .nav-folder-children {
    background-color: var(--Fold1);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="PCs"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="PCs"]
    + .nav-folder-children {
    background-color: var(--Fold2);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Planning"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Planning"]
    + .nav-folder-children {
    background-color: var(--Fold3);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Post Session Logs"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="Post Session Logs"]
    + .nav-folder-children {
    background-color: var(--Fold4);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="ZZZZ Archive"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="ZZZZ Archive"]
    + .nav-folder-children {
    background-color: var(--Fold5);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="ZZZZZ Plugins"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="ZZZZZ Plugins"]
    + .nav-folder-children {
    background-color: var(--Fold6);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="7"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="7"]
    + .nav-folder-children {
    background-color: var(--Fold7);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="8"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="8"]
    + .nav-folder-children {
    background-color: var(--Fold8);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="9"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="9"]
    + .nav-folder-children {
    background-color: var(--Fold9);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="A"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="A"]
    + .nav-folder-children {
    background-color: var(--FoldA);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="B"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="B"]
    + .nav-folder-children {
    background-color: var(--FoldB);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path="C"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path="C"]
    + .nav-folder-children {
    background-color: var(--FoldC);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="D"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="D"]
    + .nav-folder-children {
    background-color: var(--FoldD);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="E"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="E"]
    + .nav-folder-children {
    background-color: var(--FoldE);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="F"],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="F"]
    + .nav-folder-children {
    background-color: var(--FoldF);
}

/* Scrollbars eliminated */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Relationship lines for 2nd, 3rd, and 4th level folders */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-file {
    border-left: var(--nestlinestyle1) var(--nestlinesize1)
        var(--nestlinecolor1);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder {
    border-left: var(--nestlinestyle1) var(--nestlinesize1)
        var(--nestlinecolor1);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-file {
    border-left: var(--nestlinestyle2) var(--nestlinesize2)
        var(--nestlinecolor2);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder {
    border-left: var(--nestlinestyle2) var(--nestlinesize2)
        var(--nestlinecolor2);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-file {
    border-left: var(--nestlinestyle3) var(--nestlinesize3)
        var(--nestlinecolor3);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder {
    border-left: var(--nestlinestyle3) var(--nestlinesize3)
        var(--nestlinecolor3);
}
