/**
  * Outliner Overrides
  */

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul {
    visibility: hidden !important;
}
.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul:before {
    visibility: visible;
    content: "•";
    margin: 0 -15px 0 -1px !important;
    font-size: 16px !important;
    position: relative !important;
}