/**
  * Minimal overrides
  */
.view-header-title-container,
.view-actions,
.view-header-icon {
    top: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.view-header-title-container {
    margin-left: 0;
}
.markdown-source-view.is-readable-line-width .CodeMirror,
.CodeMirror {
    margin-left: 0;
}
.markdown-source-view.mod-cm5 {
    padding-left: 0;
}
:root {
    --cursor: pointer;
    --normal-weight: 350;
    --line-width: unset;
    --max-width: 70em;
}
.theme-light {
    --background-primary: hsl(var(--base-h), var(--base-s), 99%);
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: var(--max-width);
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}
.markdown-source-view.mod-cm5 {
    padding-left: calc(40px - 11.1875px);
    padding-right: 40px;
    margin: 0;
}

.markdown-preview-view blockquote {
    background-color: var(--background-secondary-alt);
    color: var(--text-normal);
    padding: calc(var(--nested-padding) / 2);
}

.popover .markdown-embed .markdown-preview-view {
    padding: 20px 15px 10px 15px;
}