span.nav {
    clear: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
span.nav > * {
    width: 100%;
    text-align: center;
}
span.nav > *:not(:first-child) {
    border-left: 1px solid var(--background-modifier-border);
}
